.pagination {
    text-align: center;
    margin: 20px 0;
}

.pagination_button {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    text-decoration: none;
    background: #007BFF;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.pagination_button:hover {
    background: #0056b3;
}

.pagination_button.active {
    background: #0056b3;
    pointer-events: none;
}
